@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #E8E9EC;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #F2535E;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #4B5C92;
  }